@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
  cursor: url('/pointer.png'), none;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}

.cursor-pointer {
  cursor: url('/pointer.png'), none;
}

.neon-text {
  color: #16f2b3;
  text-shadow: 0 0 3px rgba(22, 242, 179, 0.8), 0 0 6px rgba(22, 242, 179, 0.8), 0 0 12px rgba(22, 242, 179, 0.8);
}

.neon-text-yellow {
  color: #FFD700;
  text-shadow: 0 0 3px rgba(255, 215, 0, 0.8), 0 0 6px rgba(255, 215, 0, 0.8), 0 0 12px rgba(255, 215, 0, 0.8);
}

.neon-text-orange {
  color: #ff4500;
  text-shadow: 0 0 3px rgba(255, 69, 0, 0.8), 0 0 6px rgba(255, 69, 0, 0.8), 0 0 12px rgba(255, 69, 0, 0.8);
}

.neon-text-blue {
  color: #1E90FF;
  text-shadow: 0 0 3px rgba(30, 144, 255, 0.8), 0 0 6px rgba(30, 144, 255, 0.8), 0 0 12px rgba(30, 144, 255, 0.8);
}

.neon-text-green {
  color: #32CD32;
  text-shadow: 0 0 3px rgba(50, 205, 50, 0.8), 0 0 6px rgba(50, 205, 50, 0.8), 0 0 12px rgba(50, 205, 50, 0.8);
}

.neon-text-purple {
  color: #800080;
  text-shadow: 0 0 3px rgba(128, 0, 128, 0.8), 0 0 6px rgba(128, 0, 128, 0.8), 0 0 12px rgba(128, 0, 128, 0.8);
}
